@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary: #006865;
    --secondary: #002E4D;
    --third: #D9D9D9;
}

body{
    background-color: var(--secondary);
    font-family: 'inter';
}
.container-fluid .navbar-brand
{
    font-family: 'Italianno' !important;
    font-weight: normal !important;
    font-size: 3rem;
    color: var(--third)
}
h1{
    font-family: 'Inter','Times New Roman', Times, serif;
}
/* Link and Text colors */

.link-color{
    color: var(--third) !important;
}
.link-hover:hover{
    text-transform: uppercase;
    font-weight: bolder;
    transition: .5 ease;
}
.text-first-color{
    color: var(--secondary);
}
.text-second-color{
    color: var(--primary);
}
.text-second-color-transparent{
    color: #006865d8;
}
.text-second-color-lighter{
    color: #008170;
}


/* background color */
.bg-body-primary{
    background-color: var(--primary);
}
.bg-body-second{
    background-color: var(--secondary);
}
.bg-body-third{
    background-color: var(--third);
}
.bg-body-transparent{
    background-color: #d9d9d92c;
}
.bg-body-hover:hover{
background-color: #008170 !important;
}
.ion:hover{
    color:#008170 !important;
    transition: 5 ease !important;
}

/* special Font sizing*/
.fs-0{
    font-size: 5vw;
}
/* Rectangle bg */
.my-landing-bg{
    /* position: absolute; */
    width: 100%;
    height: 585px;
    background: #D9D9D9;
    /* left: 0px;
    top: 96px; */
}
/* Vector 1 */
.little-mount{
    /* position: absolute; */
    width: 100%;
    height: 16px;
    /* left: 0px;
    top: 585px; */
    background: #008170;
    border: 1px solid #008170;
    
    /* border-top-right-radius: 80px;
    border-bottom-left-radius: 50px; */
}
.behind{
    z-index: -1;
}
.ahead{
    z-index: 1;
}
.circle{
    /* background-color: var(--secondary); */
    background-color: #002e4d1a;
    border-radius: 250px;
    position: absolute;
    top: 100px;
    right: 85px;
    width: 300px;
    height: 300px;
}

.brdr{
    border: transparent .5px solid;
    box-shadow: -2px 1px 4px #006865;
}
.hgt{
    height: 100px;
    box-sizing: border-box;
}
/* shadow */

.out-shadow{
    box-shadow: 8px 5px 12px 0px var(--primary);
}

button:hover{
background-color: var(--secondary) !important; 
color:var(--third);
transition: .5s ease;
}

/* Footer */
.copyright{
    font-family: 'Italianno';
    font-size: 1.4rem;
    color: #57d4c4; /* Special color of text for the copyright*/
}

.appear{
    display: none;
}
/*queries*/
